body {
    font-family: 'Open Sans';
    color: #5a0404;
    background-image: url(../Imagen/Campus.webp);
}
header{
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    background-image: url(../Imagen/Campus.webp);
    padding: 2%;
    font-family: 'Open Sans';
}
main{
    padding-left: 20px;
    font-family: 'Open Sans';
}
h1{
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
    font-family: 'Open Sans';

}
div.conve{
    text-align: center;
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    width: 350px;
    background-color: white;
}
div.conve img{
    width: 100%;
    height: auto;
}
div.conve video{
    width: 100%;
    height: auto;
}
div.conve:hover{
    border: 1px solid lightcoral;
    transform: rotate(-3deg);
}
div.pie{
    text-align: center;
    font-family: 'Open Sans';
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    margin-right: 10px;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
    
}
nav a:hover{
    color: white;
}
a{
    text-decoration: none;
    color: black;
}
p{
    color:rgb(0, 0, 0);  
    text-justify: auto;
}
ol{
    color: #000000;
}
h3{
    color: rgb(68, 2, 2);
    font-family: 'Open Sans';
}
footer {
            text-align: center;
            background-color: #0786cf;
            color: white;
            padding: 1rem;
            font-family: 'Open Sans';
        }

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0;
    }

}