body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    color: #4d4c4c;
    margin: 0;
    padding: 0 10%;
    background-image: url(../Imagen/Campus.webp);
}
header {
    background-color: none;
    color: rgb(255, 255, 255);
    text-align: center;
    border-bottom: 1px solid  black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer {
background-color: none;
color: #dbcbcb;
text-align: center;
padding-top: 10%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
 color: #3a3838; 
}
.boton:hover {
  background-color: #a00000;
}

.botones {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boton {
  background-color: #ffffff;
  color: rgb(4, 63, 63);
  padding: 20px 25px;
  text-decoration: rgb(106, 116, 116);
  border-radius: 20px;
  border-color: rgb(15, 10, 10);
  transition: background 0.3s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 2);

}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

h3{
    color: #ffffff;
}
#herramientas{
    padding: 0 0 0 30%;
}
#fundamentos{
    padding: 2% 0 0 30%;
}
#teoria{
    padding: 0 0 0 30%;
}
#vida{
    padding: 0 0 0 30%;
}
#contacto{
    padding: 0 0 0 30%;
}