<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundamentos</title>
    <link rel="icon" href="../Imagen/Umg.png" type="image/png">
    <link rel="Stylesheet" href="../static/vidau.css">
</head>
<body>
    <header>
        <a href="../index.html" class="logo">
            <img src="../Imagen/Umg.png"  alt="Logo Universidad Mariano Galvez" height="100px">
            <h2 class="apartado">Contabilidad Administrativa</h2>
        </a>
        <nav>
            <a href="./fundamentos.html" class="nav-link">Fundamentos</a>
            <a href="./herramientas.html" class="nav-link">Herramientas</a>
            <a href="./contacto.html" class="nav-link">Sobre mi</a>
            <a href="./teoria.html" class="nav-link">Teoria</a>
        </nav> 
    </header>
    <main>
        <h1>Vida Universitaria</h1>
        <p>A continuación se le presentan las diferentes evidencias sobre la participación 
            en las actividades institucionales de la Universidad Mariano Gálvez, las cuales fomentan
            en la vida institucional.
        </p>
        <h2>Actividades de Aniversario</h2>
                <section>
                <h3>Desfile de Carrozas</h3>
                <div class="conve">
                    <div class="foto">
                        <img src="../Imagen/Carroza1.jpg" alt="Carroza del desfile">
                    </div>
                    <div class="pie">
                    <p>Desfile</p>
                    <p>Presentación de los carros usados para el desfile</p>
                    </div>
                </div>
                <div class="conve">
                    <div class="foto">
                        <img src="../Imagen/Carroza2.jpg" alt="Carroza del desfile">
                    </div>
                    <div class="pie">
                    <p>Desfile</p>
                    <p>Presentación de los carros usados para el desfile</p>
                    </div>
                </div>
                <div class="conve">
                    <div class="foto">
                        <img src="../Imagen/Carroza3.jpg" alt="Carroza del desfile">
                    </div>
                    <div class="pie">
                    <p>Desfile</p>
                    <p>Presentación de los carros usados para el desfile</p>
                    </div>
                </div>
                <div class="conve">
                    <div class="foto">
                        <img src="../Imagen/Carroza4.jpeg" alt="Carroza del desfile">
                    </div>
                    <div class="pie">
                    <p>Desfile</p>
                    <p>Presentación de los carros usados para el desfile</p>
                    </div>
                </div>
                </section>
                <section>
                <h3>Carrera universitaria</h3>
                <div class="conve">
                    <div class="foto">
                        <img src="../Imagen/Carrera1.jpg" alt="Inicio de la carrera">
                    </div>
                    <div class="pie">
                    <p>Carrera</p>
                    <p>Inicio del maratón universitario</p>
                    </div>
                </div>
                <div class="conve">
                    <div class="foto">
                        <img src="../Imagen/Carrera2.jpg" alt="Calentamiento previo">
                    </div>
                    <div class="pie">
                    <p>Carrera</p>
                    <p>Calentamiento para la maratón</p>
                    </div>
                </div>
                </section>
                <section>
                <h3 >Elección Reina</h3>
                <div class="conve">
                    <div class="foto">
                        <img src="../Imagen/Coronacion1.jpeg" alt="Elección reina 2025">
                    </div>
                    <div class="pie">
                    <p>Coronación de Reinas</p>
                    <p>Inicio de la actividad</p>
                    </div>
                </div>
                <div class="conve">
                    <div class="foto">
                        <img src="../Imagen/Coronacion3.jpg" alt="Elección reina 2025">
                    </div>
                    <div class="pie">
                    <p>Coronación</p>
                    <p>Envestidura de la Reina UMG</p>
                    </div>
                </div>
                </section>
        <h2>Convención universitaria</h2>
            <div class="conve">
                <div class="foto">
                    <img src="../Imagen/Congreso7.jpeg" alt="Participacion">
                </div>
                <div class="pie">
                    <p>Participacion</p>
                    <p>Convivencia con compañeras en la Convención</p>
                </div>
            </div>
            <div class="conve">
                <div class="foto">
                    <img src="../Imagen/Congreso1.jpeg" alt="Lenguajes importantes en ingenieria">
                </div>
                <div class="pie">
                    <p>Presentacion</p>
                    <p>Importancia de aprender lenguajes</p>
                </div>
            </div>
            
            <div class="conve">
                <div class="foto">
                    <img src="../Imagen/Congreso2.jpeg" alt="Humanoides y lo que hay que saber de ellos">
                </div>
                <div class="pie">
                    <p>Presentacion</p>
                    <p>Humanoides y su importancia</p>
                </div>
            </div>
            <div class="conve">
                <div class="foto">
                    <video src="../Imagen/vid1.mp4" autoplay muted controls loop></video>
                </div>
                <div class="pie">
                    <p>Participacion</p>
                    <p>Prueba de Turin y la IA en la actualidad</p>
                </div>
            </div>
            <div class="conve">
                <div class="foto">
                    <video src="../Imagen/vid2.mp4" autoplay muted controls loop></video>
                </div>
                <div class="pie">
                    <p>Participacion</p>
                    <p>Preguntas y respuestas</p>
                </div>
            </div>
    </main>
</body>
</html>