<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contabilidad Administrativa</title>
    <link rel="icon" href="../Imagen/Umg.png" type="image/png">
    <link rel="Stylesheet" href="../static/cont.css">
</head>
<body>
    <header>
        <a href="./index.html" class="logo">
            <img src="../Imagen/Umg.png"  alt="Logo Universidad Mariano Galvez" height="100px">
            <h2 class="apartado">Contabilidad Administrativa</h2>
        </a>
        <nav>
            <a href="./fundamentos.html" class="nav-link">Fundamentos</a>
            <a href="./herramientas.html" class="nav-link">Herramientas</a>
            <a href="./vidauni.html" class="nav-link">Fotografias</a>
            <a href="./teoria.html" class="nav-link">Teoria</a>
        </nav> 
    </header>
    <main>
        <h1>Contacto</h1>
        <h2>Nombre: Belinda Claribel Vasquez Barrios</h2>
        <h2>Curso: Contabilidad 2</h2>
        <h2>Universidad: Mariano Galvez de Guatemala</h2>
        <h2>Correo Electronico: bvasquezb3@miumg.edu.gt</h2>
    </main>
    <footer>
        <p>2025 Universidad Mariano Galvez | Proyecto Final </p>
    </footer>
</body>
</html>