<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contabilidad Administrativa</title>
    <link rel="icon" href="../Imagen/Umg.png" type="image/png">
    <link rel="Stylesheet" href="../static/funda.css">


</head>
<body>
    <header>
        <a href="./index.html" class="logo">
            <img src="../Imagen/Umg.png"  alt="Logo Universidad Mariano Galvez" height="100px">
            <h2 class="apartado">Contabilidad Administrativa</h2>
        </a>
        <nav>
            <a href="./teoria.html" class="nav-link">Teoria</a>
            <a href="./herramientas.html" class="nav-link">Herramientas</a>
            <a href="./vidauni.html" class="nav-link">Fotografias</a>
            <a href="./contacto.html" class="nav-link">Sobre mi</a>
        </nav> 
    </header>

    <main>
        <h2>Aspectos Valiosos y Fundamentales</h2>
        <p>Para el diseño de esta página web se tomaron varios aspectos en cuenta, tales fueron los siguientes: </p>
        <ol type="1" id="contenido">
            <li>Diseño y Estructura</li>
            <li>Elementos Visuales y Colores</li>
            <li>Tipografía y Organización</li>    
        </ol>
        <h3>Diseño y Estructura:</h3>
        <p>La página fue diseñada considerando una estructura de navegación
            clara e intuitiva, facilitando el acceso a cada sección sin 
            dificultad. Se utilizó un diseño adaptable, y también familiar para el usuario
            ya que se tomó en cuenta el diseño de la página oficial de la UMG.
            La estructura se deriva del menú principal, el cual tiene los diferentes botones
            para poder moverse de un apartado a otro.
        </p>
        <h3>Elementos Visuales y Colores:</h3>
        <p>Los colores usados se basan en la paleta institucional de la Universidad Mariano Gálvez (UMG),
            predominando los tonos rojo, azul, blanco y dorado, de acuerdo a la paleta UMG
            , para una experiencia visual profesional.
            Se busco en la parte de herramientas poder representar adecuadamente los resultados 
            obtenidos de cada uno de las diferentes herramientas. 
        </p>
        <h3>Tipografía y Organización:</h3>
        <p>Para la Tipografía, se uso una Tipografía que fuera legible y agradable para el lector, como lo es
            Roboto o Open Sans, las cuales mejoran la experiencia del usuario. El contenido está organizado
            jerárquicamente con títulos, subtítulos y listas para poder facilitar la lectura de este.
        </p>
    </main>
    <footer>
        <p>2025 Universidad Mariano Galvez | Proyecto Final </p>
    </footer>
</body>
</html>