<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contabilidad Administrativa</title>
    <link rel="icon" href="../Imagen/Umg.png" type="image/png">
    <link rel="Stylesheet" href="../static/teo.css">
</head>
<body>
    <header>
        <a href="./index.html" class="logo">
            <img src="../Imagen/Umg.png"  alt="Logo Universidad Mariano Galvez" height="100px">
            <h2 class="apartado">Contabilidad Administrativa</h2>
        </a>
        <nav>
            <a href="./fundamentos.html" class="nav-link">Fundamentos</a>
            <a href="./herramientas.html" class="nav-link">Herramientas</a>
            <a href="./vidauni.html" class="nav-link">Fotografias</a>
            <a href="./contacto.html" class="nav-link">Sobre mi</a>
        </nav> 
    </header>
    <main>
        <h1>Teoria Administrativa</h1>
        <p>
            La Contabilidad Administrativa es una rama de la contabilidad orientada a proporcionar información
            útil y oportuna a la administración interna de la empresa, con el fin de facilitar la toma de
            decisiones gerenciales.
        </p>
        <h2>Diferencias con otras ramas contables</h2>
        <table>
            <tr id="encabezado">
                <td>Caracteriztica</td>
                <td>Contabilidad Financiera</td>
                <td>Contabilidad de Costos</td>
                <td>Contabilidad Administrativa</td>
            </tr>
            <tr>
                <td>Enfoque</td>
                <td>Usuarios Externos (accionistas, bancos, gobierno)</td>
                <td>Determinar costos de producción</td>
                <td>Apoyo a la gestión interna</td>
            </tr>
            <tr>
                <td>Periodicidad</td>
                <td>Histórica (informes pasados)</td>
                <td>Continua desde procesos productivos</td>
                <td>Proyección futura y toma de decisiones</td>
            </tr>
            <tr>
                <td>Normativa</td>
                <td>Basada en Normas Internacionales de Informacion Financiera (NIIF) y leyes </td>
                <td>Basada en métodos de costeo</td>
                <td>Flexible según las necesidades del gerente</td>
            </tr>
        </table>
        <h2>Objetivos</h2>
        <ol>
            <li>Apoyar la planeación, control y evaluación de las operaciones de la empresa</li>
            <li>Facilitar la toma de decisiones estratégicas</li>
            <li>Promover el uso eficiente de los recursos</li>
            <li>Proporcionar información para la evaluación de desempeño</li>
        </ol>
        <h2>Importancia</h2>
        <p>La información contable administrativa permite a los gerentes analizar
            escenarios, calcular rentabilidades, elaborar presupuestos y anticipar riesgos financieros.
            Sin ella, las decisiones empresariales carecen de base cuantitativa sólida.</p>
    </main>
    <footer>
        <p>2025 Universidad Mariano Galvez | Proyecto Final </p>
    </footer>
</body>
</html>