<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundamentos</title>
    <link rel="icon" href="../Imagen/Umg.png" type="image/png">
    <link rel="Stylesheet" href="../static/vidau.css">
</head>
<body>
    <header>
        <a href="./index.html" class="logo">
            <img src="../Imagen/Umg.png"  alt="Logo Universidad Mariano Galvez" height="100px">
            <h2 class="apartado">Contabilidad Administrativa</h2>
        </a>
        <nav>
            <a href="./fundamentos.html" class="nav-link">Fundamentos</a>
            <a href="./herramientas.html" class="nav-link">Herramientas</a>
            <a href="./contacto.html" class="nav-link">Contacto</a>
            <a href="./teoria.html" class="nav-link">Teoria</a>
        </nav> 
    </header>
    <main>
        <h1>Vida Universitaria</h1>
        <p>A continuación se le presentan las diferentes evidencias sobre la participación 
            en las actividades institucionales de la Universidad Mariano Gálvez, las cuales fomentan
            en la vida institucional.
        </p>
        <h2>Actividades de Aniversario</h2>
            <div class="conve">
                <div class="foto">

                </div>
            </div>

        <h2>Convención universitaria</h2>
            <div class="conve">
                <div class="foto">
                    <img src="../Imagen/Congreso1.jpeg" alt="Lenguajes importantes en ingenieria">
                </div>
                <div class="pie">
                    <p>Presentacion</p>
                    <p>Importancia de aprender lenguajes</p>
                </div>
            </div>
            <div class="conve">
                <div class="foto">
                    <img src="../Imagen/Congreso2.jpeg" alt="Humanoides y lo que hay que saber de ellos">
                </div>
                <div class="pie">
                    <p>Presentacion</p>
                    <p>Humanoides y su importancia</p>
                </div>
            </div>
            <div class="conve">
                <div class="foto">
                    <video src="../Imagen/vid1.mp4" autoplay muted controls loop></video>
                </div>
                <div class="pie">
                    <p>Participacion</p>
                    <p>Prueba de Turin y la IA en la actualidad</p>
                </div>
            </div>
            <div class="conve">
                <div class="foto">
                    <video src="../Imagen/vid2.mp4" autoplay muted controls loop></video>
                </div>
                <div class="pie">
                    <p>Participacion</p>
                    <p>Preguntas y respuestas</p>
                </div>
            </div>
    </main>
</body>
</html>